<h1>
  Editar / Agregar
  heroe
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Super heroe</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="superhero"
              />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="alter_ego"
              />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Primera aparicion</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="characters"
              />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Personajes</mat-label>
            <input
              matInput
              type="text"
              required
              />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Creador</mat-label>
            <mat-select
            required
            formControlName="publishers"
            >
              <mat-option *ngFor="let item of publishers"
                [value]="item.id">
                {{ item.desc }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </form>
      </mat-card-content>

      <div class="flex justify-content-between">
        <button matButton
        color="warn"
        mat-flat-button
        >
        Borrar</button>

        <button matButton
        color="primary"
        mat-flat-button
        (click)="onSubmit()"
        >
        <mat-icon>save</mat-icon>
        Guardar
        </button>
      </div>

    </mat-card>
  </div>



  <div class="col-12 sm:col-6">
    <mat-card>
      <img src="" alt="imagen del heroe" matCardImage>
    </mat-card>
  </div>
</div>
